In [6]:
# 1. What is the length of the salaries list.
#salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [14]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
length_of_salaries = len(salaries)
print(length_of_salaries)

7

In [16]:
#2. Retrieve the third salary in the list by using index.

In [18]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
third_salary = salaries[2]
print(third_salary)

50k

In [20]:
#3. Extract the last salary from the list by using a negative index.

In [22]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
last_salary = salaries[-1]
print(last_salary)

40k

In [24]:
#4. Slice the salaries list to get only the middle three salaries.

In [28]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
middle_salaries = salaries[2:5]
print(middle_salaries)

['50k', '60k', '35k']

In [ ]:
#5. Add a new salary to the list, ‘100k’ by using append() method.

In [34]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [ ]:
#6. Add a new salary to the list, ‘120k’ without method.

In [36]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries += ['120k']
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '120k']

In [ ]:
#7. Replace the third salary in the list with '55k' and print the updated list.

In [40]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries[2] = '55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k']

In [ ]:
#8. Count how many times '40k' appears in the list.

In [46]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
count_40k = salaries.count('40k')
print(count_40k)

2

In [ ]:
#9. Insert a new salary at the second position.

In [50]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries.insert(1, '45k')
print(salaries)

['20k', '45k', '40k', '50k', '60k', '35k', '89k', '40k']

In [ ]:
#10. Reverse the order of the salaries list with method.

In [52]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries.reverse()
print(salaries)

['40k', '89k', '35k', '60k', '50k', '40k', '20k']

In [ ]:
#11. Reverse the order of the salaries list without method.

In [54]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
reversed_salaries = salaries[::-1]
print(reversed_salaries)

['40k', '89k', '35k', '60k', '50k', '40k', '20k']